/*CSS en commun pour chaque page du projet*/

body{
    background-color: rgba(187, 184, 184, 0.966);/*couleur de fond de page*/
}
.submit{
    background-color:rgb(13, 235, 13);/*bouttons submit*/
}
.page {
    margin-left:20%;
    margin: 0 auto 0 auto;
    width:730px;
    border-style: groove; 
    background-color: white;
    }	

.contenu{
    margin-left: 50px;
}

/* 30 couleurs prédéfinie pour la fonction colorize qui sert à mettre une couleur aléatoire à chaque lettre*/
.couleur1{
    color: orange;
}
.couleur2{
    color: purple;
}
.couleur3 {
    color:darkblue;
}
.couleur4{
    color: rgb(53, 5, 5);
}
.couleur5{
    color:red;
}
.couleur6{
    color: darksalmon;
}
.couleur7{
    color:rgb(41, 90, 90);
}
.couleur8{
    color: rgb(247, 204, 15);
}
.couleur9 {
    color:rgb(231, 15, 177);
}
.couleur10{
    color: rgb(20, 73, 64);
}
.couleur11{
    color:grey; 
}
.couleur12{
    color: green;
}
.couleur13{
    color: rgba(221, 224, 32, 0.couleur993);
}
.couleur14{
    color:red;
}
.couleur15{
    color: gold;
}
.couleur16{
    color: darkslategrey; 
}
.couleur17{
    color: rgb(36, 2, 56);
}
.couleur18{
    color: orange;
}
.couleur19{
    color: rgb(8, 41, 85); 
}
.couleur20{
    color: lime;
}
.couleur21{
    color: rgb(241, 54, 79);
}
.couleur22{
    color: rgb(243, 184, 112);
}
.couleur23{
    color: aqua;
}
.couleur24{
    color: chocolate;
}
.couleur25{
    color: rgb(10, 236, 236);
}
.couleur26{
    color: black;
}
.couleur27{
    color:rgb(10, 236, 236);
}
.couleur28{
    color: pink;
}
.couleur29{
    color:orange;
}
